@import "tailwindcss";

@theme {
    --color-primary: #001e40;
    --color-secondary: #64748b;
    --color-surface: #f8fafc;
}

@layer utilities {
    .glass-nav {
        @apply backdrop-blur-md bg-white/80 border-b border-gray-100;
    }
}